.searchForm {
  margin: 20px auto;
  width: 500px;
  font-size: 16px;
  .searchForm__field {
    font-size: 16px;
    width: 400px;
    border: 1px solid #000;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    border-radius: 5px;
    color: #6a6a6a;
  }
  .searchForm__btn {
    font-size: 14px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    background-color: #3f51b5;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100px;
    color: #fff;
    text-transform: uppercase;
  }
}
