.galleryItem {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
  .galleryItem__img {
    margin-bottom: 5px;
  }
  .galleryItem__title {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .galleryItem__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
