.header {
  background: #7b25aa;
  .nav {
    padding: 30px 0 30px 90px;
    .nav__list {
      display: flex;
      .nav__item {
        margin-right: 50px;
        &:hover {
          transform: translateY(-2px);
          transition: all 0.2s ease;
        }
        .nav__link {
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }
    }
  }
}
